.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.paper {
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;
}

.input {
  margin-bottom: 1rem;
}

.submitButton {
  margin-top: 1rem;
}
