@import 'tailwindcss';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  width: 60%;
}

body {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}
